.view {
  background-color: #c8cdd2;
}
h1 {
  color: black;
}
.container {
  min-height: 100vh;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  width: 300px;
  margin: 10px;
}
@media (min-width: 992px) {
  .card {
    width: 340px;
  }
}
h1 {
  text-align: center;
}
.delete-button {
  margin-top: 5px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 5px;
}
